<div class='car-card d-flex flex-column mx-3'>
        <h1 class="car-card__brand text-center text-white">{{brand}}</h1>
        <p class="car-card__description text-center text-white">{{engine}}</p>
        <p class="car-card__description text-center text-white">{{gearbox}}</p>
        <p class="car-card__description text-center text-white">{{price}}$</p>

        <div class='car-card__image-wrapper'>
            <img src='{{imageUrl}}' />
        </div>
        <div class='car-card__cta text-center text-white'>
            <a href='/cars/{{_id}}/details' class='det-link btn btn-secondary w-100 text-center text-white'>
             Details
            </a>
        </div>
</div>

